* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: "Work Sans", sans-serif;
    background-image: url('../Img/background.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: scroll;
}

h1 {
    background-color: #f87f7fa2;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.container {
    display: grid;
    align-items: center;
    margin: 10px auto;
    grid-template-columns: 1fr 1fr;
}

div.collection {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    /*grid-template-columns: 1fr 1fr;
    */
    background-color: #f87f7f;
    margin: 10px 10px;
    width: 400px;
    height: 400px;
    background-color: #00747c;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

div.collection:hover {
    cursor: pointer;

}

div.collection img {
    width: 80%;
    height: 80%;
    border: 1px solid red;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 7% auto;
    background-color: #55007c;
}